@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}
.wrapper {
    background: #fff;
    width: 450px;
    border-radius: 9px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.9)
}
.form {
    padding: 20px 60px
}
.form header {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.form form {
    margin: 20px 0;
}
.form form .error-txt {
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 9px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}

.form form .name-details {
    display: flexbox;
}
.form .name-details .field:first-child {
    margin-left: 10px;
}
.form .name-details .field:last-child {
    margin-left: 10px;
}
.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.form form .field input {
    margin-bottom: 2px;
}
.form form .field input {
    outline-color: #3498db;
}
.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 9px;
}
.form form .image input {
    font-size: 17px;
    border: none;
}
.fa-eye {
    position: absolute;
    right: 15px;
    margin-top: 5px;
    color: #ccc;
    top: 50%;
    margin-right: -13px;
    transform: translateX(-50%);
    cursor: pointer;

}
.field.input .fa-eye.active::before {
    color: #333;
    content: "/f070";
}
.field.input .fa-eye.active::after {
    color: black;
    content: "/f06e";
}
.form form .button input {
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.form .link a:hover {
    text-decoration: underline;
}